<html>

<head>
  <title>Validation du numéro de téléphone</title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>

<body>
 
    <div class="col-md-4 ml-auto mr-auto">
      <p> <img class="marge-top1"  src="../static/images/rsz_logo_white.png" alt="logo"></p>
      <h2  style="font-size: 1em;">Bonjour, vous n'avez pas pu effectuer votre enregistrement, veuillez rééssayer</h1>
        <br> 
        <form action="" method="post">
          <input type="text" placeholder="Code Pin reçu" name="firstname" style="width: 100%;"
            value=""><br><br>  </div>
    <div class="col-md-4 ml-auto mr-auto">
         
          <input class="btn btn-success" type="submit" value="S'enregistrer à cette adresse"
            style="border-radius: 20px; margin-left: 20%;">
        </form>
     
  
  </div>
</body>

</html>